<h1>about day-lines</h1>
<p>
    <a href="http://whiskeycokewithyou.com/day-lines/">day-lines</a>
    is a place to share the words+pictures that stick, and connect to the 
    <a href="http://whiskeycokewithyou.com/">having a whiskey coke with you</a> 
    community
</p>
